@{
    ViewData["Title"] = "Edit Survey";
}

<script defer="defer" src="~/static/js/site.js"></script>
<link href="~/static/js/site.css" rel="stylesheet">
<link href="~/static/css/site.css" rel="stylesheet">

<div class="text-center">
    <h1 class="display-4">Edit Survey</h1>
    <div id="root"></div>
</div>
